In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [3]:
#Question 1
pd.__version__

'2.3.1'

In [4]:
#Question 2
print(len(df))

9704

In [5]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [ ]:
#Question 3
df["fuel_type"].nunique()

2

In [ ]:
#Question 4
(df.isnull().sum()>0).sum()

np.int64(4)

In [ ]:
#Question 5
df[df.origin == "Asia"]["fuel_efficiency_mpg"].max()

np.float64(23.759122836520497)

In [ ]:
#Question 6
before = df["horsepower"].median()
mode = df["horsepower"].mode()[0]

update = df["horsepower"].fillna(mode)
after = df["horsepower"].median()

print(after)

149.0
149.0

In [ ]:
#Question 7
asia = df[df.origin == "Asia"]

df[["vehicle_weight", "model_year"]].head(7)

x = df.type

   vehicle_weight  model_year
0     3413.433759        2003
1     3149.664934        2007
2     3079.038997        2018
3     2542.392402        2009
4     3460.870990        2009
5     2484.883986        2008
6     3006.542287        2012